
.homepage{
    background-color: var(--bg-color);
    color: var(--font-color);
    width: 100%;
    min-height: calc(100vh - 56px);
    position:relative
}

.homepage .not-logged-header{
    /* background-color: var(--bg-color); */
    
    /* background: rgb(166,143,224);
background: linear-gradient(311deg, rgba(166,143,224,1) 0%, rgba(193,154,228,1) 35%, rgba(245,199,255,1) 100%); */
    /* background-image: url('pixel-wallpapers-25278-2863029.jpg'); */
    height: calc(100vh - 56px);
    display: flex;
    flex-direction: row-reverse;
}

[data-theme="l0"] .homepage .not-logged-header {
    background: rgb(166,143,224);
background: linear-gradient(307deg, rgba(166,143,224,1) 0%, rgba(193,154,228,1) 35%, rgba(254,199,255,1) 100%);
}

[data-theme="d0"] .homepage .not-logged-header {
    background: rgb(105,43,122);
background: linear-gradient(160deg, rgba(105,43,122,1) 0%, rgba(76,53,131,1) 39%, rgba(57,26,58,1) 100%);    
}

.homepage .not-logged-background{
    background-image: url('/src//medias/in-no-time-animate.svg'); 
    /* background-color:black; */
    background-repeat: no-repeat;
    background-size: contain;
    /* '3d-isometric-e-commerce-concept-online-store_1441-2128-3.jpg' */
    height: 100%;
    background-position: center;
    width: 100%;
}

@media(max-width:640px){
    .homepage .not-logged-header{
        /* margin-top: 90px; */
        flex-direction: column;
        overflow: auto;
        -ms-overflow-style: none; 
        scrollbar-width: none;
    }

    .homepage .not-logged-header::-webkit-scrollbar {
        display: none;
      }
    .homepage .not-logged-header .header-content{
        height: 40vh;
        min-height: fit-content;
        width:100%;
    }
    .homepage .online-shopping-intro{
        flex-direction: column;
    }
    .homepage .discount-intro{
        flex-direction: column;
    }
    .homepage .intro-description{
        width: 100%;
    }
    .homepage .intro-pic{
        align-self: center;
    }
    
}

@media(min-width:641px){
    .homepage .not-logged-header .header-content{
        height: 100%;
        min-width: 40vw;
        align-self: flex-end;
        padding:2rem 0;
    }
    .homepage .not-logged-header .read-more-below{
        position: absolute;
        right:0;
        left: 0;
        bottom: 20px;
    }
    .homepage .intro-description{
        width: 50vw;
    }
    .homepage .online-shopping-intro{
        flex-direction: row;
    }
    .homepage .discount-intro{
        flex-direction: row-reverse;
    }
    .homepage .header-content h2{
        margin-right:-10vw;
    }
    .homepage .intro{
        max-height: 60vh;
    }
}



.homepage .logged-header{
    /* height: calc(65vh - 56px); */
    /* padding: 10vh 0; */
    padding: 0 0 2vh 0;
}

.homepage .not-logged-header .header-content{
    /* float: left;
    width: 50vw; */
    /* background-color: var(--bg-color); */
    /* text-align: center;
    vertical-align: middle; */
    display: grid;
    align-self: flex-end;
    position: relative;
}

.homepage .logged-header .header-content{
    width: 100%;
    height: 100%;
    display: grid;
}

.homepage .header-content h2{
    color : var(--heading-color);
    font-family: Casablanca-Heavy;
    font-size:4rem;
}

.homepage .header-content h3{
    color : var(--font-color2);
    font-family: Casablanca-Heavy;
    font-size:4rem;
    text-align: left;
}

.homepage .header-content p, .homepage .header-content .btn, .homepage .header-content a{
    /* color : var(--font-color); */
    font-family: Roya;
    font-size: larger;
}

@media(min-width:400px){
    .homepage .header-content p{
        align-self: center;
        margin-left: 5vw;
        margin-right: 5vw;
        font-size: 1.5rem;
    }
}

.homepage .not-logged-header .header-content .btn{
    width: 12rem;
    margin-bottom: 5px;
    background-color: var(--primary-color);
    color:var(--font-always-light-color)
}

.homepage .logged-header .search{
    width: 70%;
    display: inline;
    direction: rtl;
}

.homepage .all-shops-list-container{
    padding-top: 5vh;
}

/* .homepage .search-btn{
    margin-bottom: 5px;
    background-color: var(--primary-color);
}

.homepage .search-btn .search-icon{
    color:var(--font-always-light-color);
} */

.homepage .img-outer-container{
    width:100%;
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 3;
}

.homepage .shop-outer-container{
    padding: 10px;
    direction: ltr;
}


.homepage .img-container{
    width:100%;
    padding-top: 100%; 
    position: relative;
    overflow: hidden;
    
}

.homepage h3{
    color: var(--heading-color);
    text-align: right;
    margin: 0 10px 20px 0;
}

.homepage .not-logged-header .read-more-below{
    align-self: baseline;
    color:var(--primary-color)
}

.homepage .introduction{
    width: 100%;
    background-color: var(--secondary-color);
    padding: 5vh 5vw;
}

.homepage .intro-item{
    text-align: center;
}

.homepage .intro-item h3{
    color:var(--font-always-light-color);
    text-align: center;
    font-size: large;
}

.homepage .intro-item p{
    color:var(--font-always-light-color);
    text-align: center;
    opacity: 0.7;
}

.homepage .online-shopping-intro, .homepage .discount-intro{
    background-repeat: round;
}

[data-theme="l0"] .homepage .online-shopping-intro{
    background-image: url('/src//medias/online-shopping-background.png')
}

[data-theme="d0"] .homepage .online-shopping-intro{
    background-image: url('/src//medias/online-shopping-background-dark.png')
}

[data-theme="l0"] .homepage .discount-intro{
    background-image: url('/src//medias/discount-background.png')
}

[data-theme="d0"] .homepage .discount-intro{
    background-image: url('/src//medias/discount-background-dark.png')
}

.homepage .intro{
    width: 100%;
    background-color: var(--bg-color); 
    padding: 5vh 5vw;
    display: flex;
    /* flex-direction: row-reverse; */
    /* max-height: 60vh; */
}

.homepage .intro-description{
    width: 50vw;
    /* height: fit-content; */
    direction: rtl;
    padding:0 5vw;
    align-self: center;
}

.homepage .intro-description h4{
    font-family: 'Casablanca-Heavy';
    font-size: xx-large;
}

.homepage .intro-description p{
    margin: 0;
    font-size: 1.1rem;
    color: var(--font-color2);
}

.homepage .intro-pic{
    width: 50vw;
    object-fit: contain;
}

.homepage .searchbar{
    margin: 5vh 20px 5vh 20px;
    direction: ltr;
}

@media(min-width:640px){
    .homepage .searchbar{
        padding: 0 5vw;
    }
}

.homepage .searchbar .filter-btn{
    height: 40px;
    background-color: var(--primary-color);
    margin-left: 5px;
    border-radius: 5px 5px 0 0;
    color: var(--font-always-light-color);
    
}
/* 
.homepage .searchbar .dropdown-toggle:focus{
    outline:none;
    box-shadow: none;
}

.homepage .searchbar input{
    height: 40px;
    border: 1px solid var(--primary-color);
    border-left: none;
    font-size: medium;
    background-color: var(--bg-color2-2);
    color:var(--font-color);
    border-radius: 0 5px 5px 0;
}

.homepage .searchbar input:focus{
    outline: none;
    box-shadow: none;
}

.homepage .searchbar .search-btn{
    height: 40px;
    border: 1px solid var(--primary-color);
    border-right: none;
    border-radius: 5px 0 0 5px;
    color: var(--primary-color);
    background-color: var(--bg-color2-2);
    transition: none;
} */

.homepage .searchbar a{
    font-family: 'Vazir-Bold';
}
.homepage .searchbar a:hover{
    text-decoration: none;
}

.homepage .searchbar .icon{
    font-size: 2rem;
    margin-bottom: 1rem;
    color:rgb(36, 167, 127);
}

.homepage .carousel{
    height: 65vh;
}

.homepage .carousel img{
    height: 60vh;
    object-fit: cover;
    width: 100%;
}

.homepage .carousel .carousel-indicators{
    display: none;
}

/* .homepage .carousel .carousel-control-next-icon {
  
   background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' width='7' height='7' viewBox='-2 -2 11 12'%3e%3cpath d='M2.75 0l-1.5 1.5L3.75 4l-2.5 2.5L2.75 8l4-4-4-4z'/%3e%3c/svg%3e"),
   url('data:image/svg+xml,<svg width="8" height="8" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 8 8"><desc>Example circle01 - circle filled with red and stroked with blue</desc><circle cx="4" cy="4" r="4" fill="midnightblue"/></svg>'); 
 }
 .homepage .carousel .carousel-control-prev-icon{
   background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' width='7' height='7' viewBox='-1 -2 11 12'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5L4.25 4l2.5-2.5L5.25 0z'/%3e%3c/svg%3e"),
   url('data:image/svg+xml,<svg width="8" height="8" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 8 8"><desc>Example circle01 - circle filled with red and stroked with blue</desc><circle cx="4" cy="4" r="4" fill="midnightblue"/></svg>'); 
 } */