.item-card .card-img-top {
    /* border-radius: 5%; */
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height:100%;
}

.item-card .card-img-container{
    position: relative;
    padding-top: 95%;
    overflow: hidden;
    width: 100%;
}

.item-card{
    width: 100%;
    position: relative;
    align-items: center;
    border: 1px solid var(--bg-color2);
    word-wrap: break-word;
    color: var(--font-color);
}

.item-card-main{
    cursor:pointer;
}

.item-card .item-card-body{
    display: grid;
    grid-template-rows: 2rem 2rem 3rem 2rem;
    padding: 10px 10px 0 10px;
    white-space: break-spaces;
    justify-items: center;
    align-items: center;
}

.item-card-body p{
    margin: 0;
    font-size: 0.8rem;
    overflow-wrap: break-word;
    color:var(--font-color2)
}

.item-card h5{
    font-size: medium;
    font-family: 'Vazir';
    margin:0
}

.item-card .item-card-count{
    justify-self: right;
}

.item-card .item-card-price{
    justify-self: left;
    margin-right: auto;
}

.item-card .item-card-price-text{
    font-size:medium;
    font-weight:bold;
    color: var(--heading-color)
}
.item-card .item-card-real-price{
    font-size: 0.9rem;
    text-decoration:line-through;
    opacity: 0.9;
}

.item-card .item-card-discount{
    color: white;
    background: var(--primary-color);
    padding: 0 2px;
    border-radius: 10px;
    margin-right: 3px;
}

/* .item-card:hover{ */
    /* transform: scale(1.01);  */
/* } */

.item-card .item-card-date{
    direction: rtl;
    align-self: baseline;
    margin-bottom: auto ;
}

.item-card .cart-btn-1{
    top: 0px;
}

.item-card .cart-btn-2{
    background: var(--primary-color);
}

.item-card .card-add-to-cart{
    position: absolute;
    right: 0px;
    top:0px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    z-index: 5;
}

.item-card .card-add-to-cart .cart-btn{
    margin: 0;
    padding:0;
}

.item-card .card-add-to-cart .btn-desc-1{
    position: absolute;
    top:0;
    left:100%;
}

.item-card .card-add-to-cart .cart-btn:hover ~ .item-card .card-add-to-cart .btn-desc-1{
    width: fit-content;
}

.item-card .card-add-to-cart .cart-btn svg{
    font-size:x-large;
    /* color: rgb(240, 240, 240) */
}

.item-card .add-to-cart-card{
    /* width: 0%; */
    position: absolute;
    top:0;
    bottom:0;
    /* right:0; */
    /* left:100%; */
    right:0;
    left:0;
    /* transition:0.4s ease; */
    -webkit-transition: visibility 0.2s, opacity 0.2s linear;
-moz-transition: visibility 0.2s, opacity 0.2s linear;
-o-transition: visibility 0.2s, opacity 0.2s linear;
transition: visibility 0.2s, opacity 0.2s linear;
    /* transition: width 5s; */
    z-index:5;
    background-color: var(--bg-color);
    display:grid;
    padding:2rem 5px;
}

.item-card .add-to-cart-card h1{
    font-size: 1.5rem;
    font-weight: bold;
    color:var(--primary-color);
    margin: 0;
}

.item-card .add-to-cart-card p{
    font-size: 0.8rem;
    margin:0;
}

.item-card .count-div{
    display: inline-flex;
    /* grid-template-columns: 2rem auto 2rem; */
    height: fit-content;
    width:100%;
    padding: 0 5px;
}

.item-card .count-div .btn{
    color: var(--primary-color);
    font-size: x-large;
    padding-top: 0;
    padding-bottom: 0;
}

.item-card .add-to-cart-btn{
    background-color: var(--secondary-color);
    color:var(--font-always-light-color);
    height: fit-content;
}

.item-card .add-to-cart-btn:hover{
    background-color: var(--primary-color);
}

.item-card .add-to-cart-card input{
    width: 70%;
    overflow: hidden;
    text-align: center;
}

.item-card .manager-btns{
    display: contents;
}

.item-card .manager-btns .btn{
    height:30%;
}