.custom-nav{
    z-index: 999;
    width: 100vw;
    background-color: var(--bg-color);
    /* box-shadow: var(--bg-color3) 0px 7px 29px 0px; */
    height: 56px;
    /* background-color: var(--secondary-color); */
}

@media(max-width:640px){
    .custom-nav{
        height: 120px;
    }
}

.custom-nav ,.custom-nav .navbar-brand, .custom-nav .navbar-brand a, .custom-nav .navbar-brand a:hover{
    color: var(--primary-color);
    /* color: var(--font-always-light-color); */
    text-decoration: none;
}


.custom-nav .navbar-brand .btn{
    padding: 0px 0 0px 0;
    margin-top: -20px;
}

.nav-profile img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid var(--primary-color);
    background-color: white;
    padding: 0;
    border: none;
}

.navbar-light .navbar-nav .nav-link, .custom-nav .no-profile,.navbar-light .navbar-nav .nav-link:hover, .custom-nav .no-profile:hover{
    color: var(--font-color2)
    /* color: var(--font-always-light-color) */
}

@media (min-width: 621px){
    .nav-profile .dropdown{
        /* visibility: hidden; */
        display: block;
        transition: visibility .5s ease-in-out;
        /* transition-delay: 2s; */
        z-index: 1000;
        position: absolute;
        top: 50px;
        background-color: var(--bg-color);
        color: var(--font-color);
        border-radius: 7px;
        border: 1px solid var(--secondary-color);
        width: 400px;
        transform: translateX(-60px);
    }
    .nav-profile .dropdown .img-parent{
        float : right;
        height:100%;
        width: 50px;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    
    .nav-profile .dropdown .img-parent img{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: white;
        align-self: center;
    }

    .nav-profile .dropdown .prof-info{
        text-align: end;
    }

    .nav-profile .dropdown .prof-info p{
        margin-bottom: 0px;
    }

    .nav-profile .dropdown .prof-info .username{
        font-size: smaller;
        color:var(--secondary-color)

    }

    .nav-profile .dropdown .drop-exit{
        display: none;
    }
}

.nav-profile img{
    object-fit: cover;
}

.nav-profile .drop-item{
    display: flex;
    flex-direction: row-reverse;
    padding: 10px 5px;
}
.nav-profile .dropdown .drop-continue{
    color: var(--primary-color);
    align-self: center;
    margin-right: auto;
}
.nav-profile .dropdown .drop-continue:hover{
    text-decoration: none;
    color:var(--secondary-color);
}

.dropdown .drop-break{
    border-bottom: 1px solid var(--secondary-color);
    margin: 0 10px;
    /* height: 1px;
    background-color: var(--secondary-color);
    background-image: linear-gradient(left , var(--bg-color) 2%, var(--secondary-color) 50%, var(--bg-color) 98%);
    background-image: -o-linear-gradient(left , var(--bg-color) 2%, var(--secondary-color) 50%, var(--bg-color) 98%);
    background-image: -moz-linear-gradient(left , var(--bg-color) 2%, var(--secondary-color) 50%, var(--bg-color) 98%);
    background-image: -webkit-linear-gradient(left , var(--bg-color) 2%, var(--secondary-color) 50%, var(--bg-color) 98%);
    background-image: -ms-linear-gradient(left , var(--bg-color) 2%, var(--secondary-color) 50%, var(--bg-color) 98%);
    background-image: -webkit-gradient( linear, left bottom, right bottom, color-stop(0.02, var(--bg-color)), color-stop(0.5, var(--secondary-color)), color-stop(0.98, var(--bg-color)) ); */
}

.dropdown .drop-a{
    margin: 0 5px;
}

.dropdown .drop-a:hover{
    text-decoration: none;
    color: var(--primary-color);
    cursor: pointer;
}

.nav-profile .dropdown{
    font-family: 'Vazir';
}

@media (max-width: 620px){
    .nav-profile .dropprofile{
        display: block;
    }
    .nav-profile .dropdown{
    background-color: var(--bg-color);
    color: var(--font-color);
    z-index: 1000;
    position: fixed;
    width: 100%;
    height:100%;
    top:0px;
    left:0px;
    right:0px;
    border: none;
    }
    .nav-profile .dropdown .img-parent{
        float : middle;
        height:50vw;
        padding: 5vw;
    }
    .nav-profile .dropdown .img-parent img{
        width: 40vw;
        height: 40vw;
        border-radius: 50%;
        background-color: white;
        border: 2px solid var(--primary-color)
    }

    .nav-profile .dropdown .prof-info p{
        margin-bottom: 3px;
    }

    .nav-profile .dropdown .prof-info .username{
        font-size: smaller;
        color:var(--secondary-color)

    }

    .dropdown .drop-break{
        margin: 15px 10px;
    }

    .nav-profile .dropdown .drop-exit{
        position: fixed;
        top:10px;
        left: 5px;
        font-size: 30px;
        cursor: pointer;
        color: var(--font-color)
    }
}

.custom-nav .search-form{
    padding-right: 1rem;
    direction: rtl;
    /* width: 60vw; */
    /* width: 50vw; */
}

.custom-nav .nav-upper{
    display: inherit;
    padding: inherit;
}

@media(max-width:640px){
    .custom-nav .search-bar{
      width: 100vw
    }
    .custom-nav .nav-upper{
        width: 100vw;
        height: 56px;
        display: inherit;
        padding: inherit;
    }
    .custom-nav .search-form{
        width: 100vw;
        height: 56px;
        display: flex;
        padding:inherit;
        padding-right: 2rem
    }
    .custom-nav{
        flex-direction: column;
    }
    .custom-nav .shopping-list .shopping-dropdown{
        width:90vw;
    }
  }

  @media(min-width:641px){
      .custom-nav .search-bar{
        width: 60vw;
      }
      .custom-nav .shopping-list .shopping-dropdown{
        width:400px;
      }
  }

.custom-nav .search-bar{
    background-color: var(--bg-color2);
    border:none;
    color: var(--heading-color);
    
    direction: rtl;
}

.custom-nav .search-bar::placeholder, .custom-nav .search-bar::-ms-input-placeholder, .custom-nav .search-bar::-ms-input-placeholder{
    color: var(--heading-color);
    opacity: 1; /* Firefox */
}

.custom-nav .shoppinglist-icon{
    /* width: 40px; */
    height: 40px;
    padding: 0;
    align-self: center;
    margin: auto 10px;
    font-size: 1.8rem;
    color: var(--font-color2);
}

.custom-nav .shopping-icon-container{
    position: relative;
}

.custom-nav .shopping-icon-container:hover{
    cursor: pointer;
}

.custom-nav .shopping-list{
    position: relative;
}

.custom-nav .shopping-list:hover .shopping-dropdown{
    display: block;
}

.custom-nav .shopping-icon-container p{
    position: absolute;
    top: -2px;
    padding: 0;
    background-color: var(--primary-color);
    width: 1rem;
    color: var(--font-always-light-color);
    border-radius: 100%;
    height: 1rem;
    font-size: .6rem;
    margin: 0;
    right: 3px;
}

.custom-nav .shopping-list .shopping-dropdown{
    display: none;
    position: absolute;
    padding: 10px;
    direction: rtl;
    background-color: var(--bg-color);
    border-radius: 10px;
    z-index: 3000;
    border: 1px solid var(--bg-color3)
}

.custom-nav .shopping-dropdown-list{
    overflow-y: scroll;
    width: 100%;
    max-height: 60vh;
}

.custom-nav .shopping-list .shopping-dropdown-list::-webkit-scrollbar {
    width: 10px; 
    background: transparent;
}

.custom-nav .shopping-list .shopping-dropdown-list::-webkit-scrollbar-thumb {
    background: var(--bg-color3);
    border-radius: 5px;
}

.custom-nav .shopping-dropdown .shopping-dropdown-item{
    display: grid;
    grid-template-columns: 20% auto;
    width: 100%;
    padding: 5px 0;
    border-bottom: 1px solid var(--bg-color2-2);
}

.custom-nav .shopping-dropdown .shopping-dropdown-item-info{
    display: grid;
    grid-template-rows: auto 3rem;
    padding:5px;
    color: var(--font-color);
    cursor: pointer;
}

.custom-nav .shopping-dropdown-item-info h4{
    grid-row-start: 1;
    grid-row-end: 2;
    text-align: right;
    font-family: 'Vazir-Bold';
    font-size: 1.2rem;
    padding-top: 5px;
}

.custom-nav .shopping-dropdown-item-info p{
    margin:0;
    align-self: flex-end;
    color: var(--font-color2);
    font-size:0.9rem;
}

.custom-nav .shopping-dropdown-item .shopping-dropdown-img-holder{
    width: auto;
    padding-top: 100%;
    grid-column-start: 1;
    grid-column-end: 2;
    position: relative;
    align-self: center;
}

.custom-nav .shopping-dropdown-img-holder img{
    position: absolute;
    top:0;
    bottom: 0;
    right:0;
    left:0;
    width:100%;
    border-radius: 5px;
}

.custom-nav .shopping-dropdown-price{
    justify-self: left;
    font-family: Vazir-Bold;
}

.custom-nav .shopping-dropdown-count{
    justify-self: right;
}

.custom-nav .shopping-dropdown-item:hover{
    background-color: var(--bg-color2-2);
}

.custom-nav .shopping-dropdown .see-shopping-list{
    color: var(--primary-color);
    /*cursor: pointer; */
    margin:20px 0;

}
.custom-nav .shopping-dropdown .see-shopping-list:hover{
    text-decoration: none;
}


/* @media(max-width:640px){

}

@media(min-width:641px){
    
} */

/* .nav-profile:hover .dropdown{
    visibility: visible;
} */
