
.shop-sidebar{
    position: fixed;
    padding: 2vh 1vh;
    height: 100vh;
    float:right;
    background-color: var(--bg-color2-2);
    overflow-y: scroll;
    visibility: hidden;
    direction: rtl;
}

.shop-sidebar::-webkit-scrollbar {
    width: 5px; 
    background: transparent;
}

.shop-sidebar::-webkit-scrollbar-thumb {
    background: #FF0000;
}

@media(min-width:950px){
    .shop-sidebar ~ .page-contents{
        margin-right: 25vw;
    }
    .shop-sidebar{
        width:25vw;
        visibility: visible;
    }
}


.shop-sidebar .section-header{
    font-size: large;
    font-family: Vazir-Bold;
    text-align: right;
    margin-bottom:10px;
    color:var(--heading-color)
}

.shop-sidebar .section-contents{
    padding-right:1vw;
}

.shop-sidebar .sub-section, .shop-sidebar .sub-sub-section{
    text-align: right;
    cursor: pointer;
}

.shop-sidebar .sub-section a:hover, .shop-sidebar .sub-sub-section a:hover{
    color: var(--primary-color)
}

.shop-sidebar .sub-section{
    padding-right: 1vw;
    border-right: 2px solid var(--bg-color3);
    font-size: medium;
}

.shop-sidebar .sub-section a{
    padding: 0;
}

.shop-sidebar .sub-sub-section a{
    display: block;
    margin-bottom: 5px;
}

.shop-sidebar .sub-sub-section{
    padding-right: 1vw;
    border-right: 2px solid var(--bg-color3);
    font-size: small;
    margin: 10px
}