
.shop-page{
    padding: 5vh 5vw;
    direction: rtl;
    font-family: Vazir;
    color: var(--font-color2);
}

.shop-page .page-contents{
    /* width: 100%; */
    /* height:100vh; */
    /* background-color: aquamarine; */
}

.shop-page .page-contents-item{
    padding:10px;
    margin-bottom: 5vh;
}

.shop-page .shop-profile{
    padding:10px;
    /* background-color: var(--bg-color2); */
    border-radius: 10px;
    width: 100%;
    display: grid;
    grid-template-rows: auto auto;
}

.shop-page .shop-info{
    width: 100%;
    display:grid;
    grid-template-columns: 20% auto;
    grid-template-rows: 50% 25% 25%;
}

.shop-page .logo-container-2{
    width: 100%;
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: 4;
}

.shop-page .logo-container{
    position: relative;
    padding-top: 100%;
    overflow: hidden;
    width: 100%;
}

.shop-page .shop-info img{
    border-radius: 5%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height:100%;
}

.shop-page .shop-info h3{
    /* display: inline-block;
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 2; */
    align-self: center;
    justify-self: start;
    margin-right: 10px;
    font-family: Vazir-Bold;
    color:var(--heading-color)
}

.shop-page .rating-comment{
    margin-right: 10px;
    direction: ltr;
    display: inline-flex;
    flex-direction: row-reverse;
    /* align-self: center; */
}

.shop-page .rating-comment p{
    font-size: 1rem;
    margin-top: 8px;
}

.shop-page .stars{
    /* margin-bottom: 2px; */
    overflow: initial !important;
}

.shop-page .comment-info{
    color: var(--secondary-color);
    margin-right: 2rem;
    cursor: pointer;
}

.shop-page .comment-info:hover{
    color: var(--primary-color)
}
.shop-page .options{
    margin-right: 10px;
    text-align: center;
    align-self: end;
    grid-row-start: 3;
    justify-self: start;
    color: var(--font-color2);
    height: fit-content;
    font-size: small;
}

.shop-page .options p{
    margin: 0;
}

.shop-page .shop-more-info{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.shop-more-info .phone, .shop-more-info .address{
    display: inline-flex;
    font-size: .9rem;
}

.shop-more-info p{
    margin: 0;
}

.shop-more-info .address a{
    color:var(--secondary-color);
    margin-right: 5px;
    cursor: pointer;
}

.shop-more-info .address a:hover{
    color:var(--primary-color)
}

.shop-page .section-break{
    margin: 2vh auto;
    height:1px;
    width: 85%;
    border-bottom: 2px solid var(--bg-color2);
}

.shop-page .carousel{
    direction: ltr;
    margin-bottom: 5px;
}

.shop-page .carousel .carousel-inner{
    border-radius: 10px;
}

.shop-page .board-item{
    width:100%;
}

.shop-page .board-item img{
    position: absolute;
    top:0;
    bottom: 0;
    right:0;
    left:0;
    object-fit: cover;
    height: 100%;
    width:100%
}

.shop-page .board-item .img-container{
    padding-top: 35.0%; /* aspect ratio: height 35% of width*/
    position: relative;
}

.shop-page .edit-info{
    /* justify-self: end; */
    margin-right: auto;
    align-self: center;
    margin-left: 5px;
    /* color: var(--font-always-light-color); */
    /* background-color: var(--secondary-color); */
    /* font-weight: 500; */
}

.shop-page .title-buttons{
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    align-self: stretch;
    display: inline-flex;
}

@media(max-width:640px){
    .shop-page .title-buttons{
        display: flex;
    }
    .shop-page .title-buttons svg{
        display: none;
    }
}
/* .shop-page .edit-info{
    align-self: center;
    margin-left: 5px;
}*/
.shop-page .edit-info .btn{
    color: var(--font-always-light-color);
    background-color: var(--secondary-color);
    font-weight: 500;
    margin: 2px;
}

.shop-page .edit-info .btn:hover{
    background-color: var(--primary-color);
} 

.shop-page .header{
   text-align:right; 
   border-bottom: 2px solid var(--bg-color2); 
   line-height: 0.1em;
   color: var(--primary-color);
   margin: 10px 5% 20px 5%; 
}

.shop-page .header-span{ 
    background:var(--bg-color); 
    padding:0 10px; 
}

.shop-page .edit-board{
    margin:10px 5px;
    color: var(--secondary-color);
    font-size: large;
}

.shop-page .edit-board:hover{
    color:var(--primary-color);
    text-decoration: none;
}

.shop-page .horizontal-list{
    overflow: auto;
  white-space: nowrap;
    overflow-x:scroll;
    width: 100%;
}

.shop-page .col-12{
    display: inline-block;
    margin-bottom: 10px;
}

.react-stars:focus{
    outline: none;
}

.shop-page .searchbar{
    margin: 5vh 20px 10vh 20px;
}

.shop-page .searchbar .dropdown-toggle{
    height: 40px;
    background-color: var(--primary-color);
    border-radius: 0 5px 5px 0;
    color: var(--font-always-light-color);
    
}

.shop-page .searchbar .dropdown-toggle:focus{
    outline:none;
    box-shadow: none;
}

.shop-page .searchbar input{
    height: 40px;
    border: 1px solid var(--primary-color);
    border-left: none;
    font-size: medium;
    background-color: var(--bg-color2-2);
    color:var(--font-color)
}

.shop-page .searchbar input:focus{
    outline: none;
    box-shadow: none;
}

.shop-page .searchbar .search-btn{
    height: 40px;
    border: 1px solid var(--primary-color);
    border-right: none;
    border-radius: 5px 0 0 5px;
    color: var(--primary-color);
    background-color: var(--bg-color2-2);
    transition: none;
}

.shop-page .horizontal-list::-webkit-scrollbar{
    width: 5px; 
    background: transparent;
}

.shop-page .horizontal-list::-webkit-scrollbar-thumb {
    background: var(--bg-color3);
    height: 5px;
    width: 5px;
}

.shop-page .see-more{
    display: inline-block;
    cursor: pointer;
}

.shop-page .see-more a{
    color:var(--secondary-color)
}

.shop-page a:hover{
    text-decoration: none;
}